@import "tailwindcss";

:root {
  --background: #fcfafa;
  --foreground: #FFFFFF;
  --black-text: #0F172A;
  --gray-text: #4f5e73;
  --blue-text: #0060E6;
  --font-geist-sans: "Inter", "Segoe UI", "Helvetica Neue", Arial, ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-geist-mono: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", ui-monospace, monospace;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: var(--black-text);
  --color-gray: var(--gray-text);;
  --color-blue: var(--blue-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
